Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent/
Content/Mannequin/
Content/ThirdPersonBP/
Content/ThirdPerson/
Content/Geometry/
Content/AnimStarterPack/
Content/HumanVocalizations/
Content/InfinityBladeWeapons/
Content/PN_coniferBushes_I/
Content/PN_OpenWorldFoliage/
Content/SoulCave/
PN_OpenWorldFoliage.png
Content/Weapon_Pack/
Content/FantasyOrchestral/
Content/Meshes/
Content/Weapons_Kit_BuiltData.uasset
